body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
/* nav{
=======
nav{
>>>>>>> 356280eef7b2951d51395ca7c394751b6195ba52
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aqua;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 356280eef7b2951d51395ca7c394751b6195ba52

